
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 87rem;
}.item-26243-1cV {
  width: 100%;
  height: 48.1rem;

  .group-15-Ze1 {
    padding: 4.1rem 3rem 2.6rem 3rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #646464;
    box-sizing: border-box;

    .the-colors-VXf {
      margin-right: 58.5rem;
      text-align: right;
      font-weight: 300;
      line-height: 1.2;
      font-family: Lato, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 4.8rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .backgrounds-ccH {
      margin: 0rem 0.1rem 4rem 0rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-nax1-Xz9 {
      position: relative;
      flex-shrink: 0;
      margin: 0 13.2rem;
      width: calc(100% - 26.4rem);
      height: 28.6rem;

      .text-and-other-elements-so7 {
        color: #ffffff;
        white-space: nowrap;
        left: 12.4rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        width: 29.8rem;
        height: 3rem;
        position: absolute;
        top: 12.4rem;
      }
      .group-23-PFf {
        display: flex;
        column-gap: 5rem;
        align-items: center;
        width: 54.6rem;
        height: 28.6rem;
        position: absolute;
        left: 0;
        top: 0;

        .auto-group-9hrr-K9K {
          flex-shrink: 0;
          width: 9.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .rectangle-26-4Mo {
            margin-bottom: 8.8rem;
            width: 100%;
            height: 9.9rem;
            background-color: #ffffff;
            flex-shrink: 0;
          }
          .rectangle-28-bsX {
            height: 9.9rem;
            background-color: #26242b;
            flex-shrink: 0;
            width: 100%;
          }
        }
        .auto-group-tqn9-8sT {
          width: 9.9rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .rectangle-27-tLq {
            margin-bottom: 8.8rem;
            width: 100%;
            height: 9.9rem;
            background-color: #00656e;
            flex-shrink: 0;
          }
          .rectangle-29-dpD {
            width: 100%;
            height: 9.9rem;
            background-color: #3c3a43;
            flex-shrink: 0;
          }
        }
        .auto-group-mbb7-PHb {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 9.9rem;
          height: 100%;
          align-items: center;

          .rectangle-30-jsF {
            margin-bottom: 8.8rem;
            width: 100%;
            height: 9.9rem;
            background-color: #cdbef3;
            flex-shrink: 0;
          }
          .rectangle-32-Htm {
            width: 100%;
            height: 9.9rem;
            background-color: #d9d9d9;
            flex-shrink: 0;
          }
        }
        .auto-group-h86m-SFs {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 9.9rem;
          height: 100%;
          align-items: center;

          .rectangle-31-b8m {
            height: 9.9rem;
            background-color: #f2f2f2;
            flex-shrink: 0;
            margin-bottom: 8.8rem;
            width: 100%;
          }
          .rectangle-33-jkm {
            background-color: #e8e8e8;
            flex-shrink: 0;
            width: 100%;
            height: 9.9rem;
          }
        }
      }
    }
  }
}
