
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 207.4rem;
}.banner-screen-hnR {
  box-sizing: border-box;
  padding: 2rem 2rem 25.6rem 2rem;
  width: 100%;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .property-1default-Cz5 {
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 10.6rem;
    width: 144rem;
    height: 102.4rem;
    cursor: pointer;
    position: relative;

    .m-bile-app-development-jDK {
      position: absolute;
      top: 47.3rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2175;
      white-space: nowrap;
      width: 95.8rem;
      height: 7.8rem;
      left: 24.2rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .elipsehero-PYm {
      width: 78.5657rem;
      height: 78.5657rem;
      position: absolute;
      left: -2rem;
      top: 15.4313rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .property-1default-Hu3 {
    flex-shrink: 0;
    margin-bottom: 24.6rem;
    width: 144rem;
    height: 102.4rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .m-bile-app-development-dT7 {
      white-space: nowrap;
      width: 95.8rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      height: 7.8rem;
      position: absolute;
      left: 24.2rem;
      top: 47.3rem;
    }
    .elipsehero-vh7 {
      object-fit: contain;
      vertical-align: top;
      width: 60.2258rem;
      height: 58.1522rem;
      position: absolute;
      left: -2rem;
      top: 24.5506rem;
    }
  }
  .property-1default-qp5 {
    margin-bottom: 10.3rem;
    width: 144rem;
    height: 102.4rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;

    .m-bile-app-development-Zzy {
      top: 47.3rem;
      font-size: 6.4rem;
      font-weight: 400;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      width: 95.8rem;
      height: 7.8rem;
      position: absolute;
      left: 24.2rem;
      white-space: nowrap;
    }
    .elipsehero-t1f {
      vertical-align: top;
      width: 60.1798rem;
      height: 58.1522rem;
      position: absolute;
      left: -2rem;
      top: 24.5506rem;
      object-fit: contain;
    }
  }
  .property-1default-cCZ {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 0rem 59.4rem 21.1rem 0rem;
    padding: 24.551rem 46.3rem 19.697rem 0rem;
    width: calc(100% - 59.4rem);
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;

    .elipsehero-tQy {
      margin-right: 10.2463rem;
      width: 60.1797rem;
      height: 58.1522rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .m-bile-app-development-21P {
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 5.2534rem;
      font-size: 3.424rem;
      font-weight: 400;
    }
  }
  .property-1default-w8M {
    padding: 24.551rem 46.3rem 19.697rem 0rem;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    margin: 0rem 59.4rem 28.3rem 0rem;
    box-sizing: border-box;
    width: calc(100% - 59.4rem);
    position: relative;
    align-items: center;
    background-color: #ffffff;

    .elipsehero-dms {
      margin-right: 10.2463rem;
      width: 60.1797rem;
      height: 58.1522rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .m-bile-app-development-ZQd {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 5.2535rem;
      font-size: 3.424rem;
      font-weight: 400;
      line-height: 1.2175;
    }
  }
  .property-1default-sw7 {
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 19.6972rem;
    width: 144rem;

    .navigational-tab-c81 {
      padding: 2.7rem 9.701rem 2.7rem 9.6rem;
      display: flex;
      align-items: center;
      margin-bottom: 27.8319rem;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
      background-color: rgba(249, 249, 249, 0.7900000215);
      width: 100%;
      height: 12.4187rem;

      .group-hfF {
        margin-right: 51.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-Fgm {
          width: 5.7932rem;
          height: 7.0187rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-d6x9-zuF {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.76rem 0rem 0.631rem 0.139rem;

          .auto-group-exkd-vY1 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 0.1308rem;

            .auto-group-k3db-UJd {
              flex-shrink: 0;
              margin-bottom: 0.4648rem;
              display: flex;
              align-items: flex-end;

              .vector-RDs {
                flex-shrink: 0;
                margin: 0rem 0.605rem 0.057rem 0rem;
                width: 1.698rem;
                height: 2.15rem;
                object-fit: contain;
                vertical-align: top;
              }
              .vector-LLq {
                margin: 0rem 0.66rem 0rem 0rem;
                width: 2.3892rem;
                height: 2.2692rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-TwF {
                margin: 0rem 0.606rem 0.058rem 0rem;
                width: 0.1985rem;
                height: 3.3043rem;
                background-color: #002a41;
                flex-shrink: 0;
              }
              .vector-yub {
                width: 2.3892rem;
                height: 2.2701rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .think-simple-build-powerful-8Gh {
              color: #002a41;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 0.6529rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .vector-2ss {
            margin: 0rem 0.561rem 0.062rem 0rem;
            width: 1.2809rem;
            height: 2.1458rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-Zcu {
            margin: 0rem 0.605rem 1.322rem 0rem;
            width: 1.6719rem;
            height: 3.3051rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-J4h {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.605rem 0.173rem 0rem;
            width: 2.3894rem;
            height: 2.2701rem;
            object-fit: contain;
          }
          .vector-2Fb {
            width: 2.3894rem;
            height: 2.2701rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1727rem;
          }
        }
      }
      .frame-34-x9F {
        margin: 2.609rem 0rem 2.609rem 0rem;
        height: calc(100% - 5.2187rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .frame-31-4xy {
          margin-right: 2.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .business-applications-RYd {
            white-space: nowrap;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            color: #00656e;
            margin-right: 0.4rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .vector-wG5 {
            flex-shrink: 0;
            margin-top: 0rem;
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .frame-32-gDf {
          margin-right: 2.4rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .services-pqf {
            margin-right: 0.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #00656e;
            flex-shrink: 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .vector-YFs {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0rem;
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
          }
        }
        .frame-33-t4q {
          flex-shrink: 0;
          margin-right: 2.4rem;
          height: 100%;
          display: flex;
          align-items: center;

          .resources-EuP {
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.4rem;
            line-height: 1.5;
            color: #00656e;
            flex-shrink: 0;
          }
          .vector-Zwf {
            flex-shrink: 0;
            margin-top: 0rem;
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .frame-34-Wc1 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 2.4rem;

          .about-us-U33 {
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.4rem;
            font-size: 1.2rem;
            color: #00656e;
            flex-shrink: 0;
          }
          .vector-nJd {
            flex-shrink: 0;
            margin-top: 0rem;
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .vector-vQq {
          flex-shrink: 0;
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-oujf-pFK {
      height: 58.1522rem;
      position: relative;
      width: 143.7261rem;

      .m-bile-app-development-A4H {
        width: 95.4rem;
        left: 26.3rem;
        font-weight: 400;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        height: 7.8rem;
        position: absolute;
        top: 22.8494rem;
        font-size: 6.375rem;
        line-height: 1.2175;
        color: #000000;
      }
      .elipsehero-3ds {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 60.1797rem;
        height: 58.1522rem;
        position: absolute;
        left: 0;
      }
    }
  }
}
