
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.6rem;
}.component-8-6Mo {
  padding: 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  border-radius: 0.5rem;

  .property-1frame-41-Rus {
    padding: 51.9rem 5.3rem 0rem 5.3rem;
    width: 100%;
    height: 76.4rem;
    cursor: pointer;
    background-position: center;
    flex-shrink: 0;
    margin-bottom: 13.4rem;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:75:2393');

    .frame-44-LG9 {
      box-sizing: border-box;
      padding-top: 8rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .frame-43-t2m {
        height: 49.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 71rem;

        .auto-group-3u5x-px1 {
          padding: 0rem 2.8rem 10.8rem 2.8rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .frame-22-xHX {
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0rem 12.85rem 10.8rem 12.85rem;
            box-sizing: border-box;
            padding: 1rem 4.15rem 0.9rem 4.15rem;
            width: calc(100% - 25.7rem);
            height: 9.4rem;
            background-color: rgba(255, 255, 255, 0.6800000072);

            .experts-in-building-mobile-apps-native-amp-hybrid-TEH {
              font-weight: 400;
              line-height: 1.8500000381;
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
              max-width: 31.4rem;
              text-align: center;
              font-size: 2rem;
            }
          }
          .frame-22-w9T {
            width: 100%;
            text-align: center;
            line-height: 1.8500000381;
            color: #26242b;
            font-size: 2rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 1rem;
            box-sizing: border-box;
            padding: 1rem 0;
            height: 9.4rem;
            background-color: rgba(255, 255, 255, 0.6800000072);
            flex-shrink: 0;
          }
        }
        .frame-22-1QD {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1rem 0;
          width: 100%;
          font-weight: 400;
          font-size: 2rem;
          line-height: 1.8500000381;
          background-color: rgba(255, 255, 255, 0.6800000072);
          border-radius: 1rem;
          flex-shrink: 0;
          height: 9.4rem;
          text-align: center;
          color: #26242b;
        }
      }
    }
  }
  .property-1frame-42-GL9 {
    height: 76.4rem;
    background-size: cover;
    background-image: url('REPLACE_IMAGE:75:2429');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 51.9rem 5.3rem 0rem 5.3rem;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;

    .frame-44-PQm {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      .frame-43-kFK {
        width: 71rem;
        height: 49.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-bjqf-USD {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 8.6rem 10.8rem 8.6rem;
          width: 100%;
          height: 40.4rem;

          .frame-22-RVs {
            background-color: rgba(255, 255, 255, 0.6800000072);
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            height: 9.4rem;
            white-space: nowrap;
            margin-bottom: 10.8rem;
            padding: 1rem 0;
            color: #26242b;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            line-height: 1.8500000381;
            border-radius: 1rem;
          }
          .frame-22-Ey7 {
            width: calc(100% - 14.1rem);
            height: 9.4rem;
            background-color: rgba(255, 255, 255, 0.6800000072);
            border-radius: 1rem;
            flex-shrink: 0;
            margin: 0 7.05rem;
            box-sizing: border-box;
            padding: 1rem 1.15rem 0.9rem 1.15rem;

            .cost-efficient-without-compromising-on-quality-amp-standards-9KP {
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
              max-width: 37.4rem;
              text-align: center;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.8500000381;
            }
          }
        }
        .frame-22-2ty {
          box-sizing: border-box;
          flex-shrink: 0;
          text-align: center;
          color: #26242b;
          line-height: 1.8500000381;
          background-color: rgba(255, 255, 255, 0.6800000072);
          padding: 1rem 0;
          width: 100%;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1rem;
          height: 9.4rem;
          font-size: 2rem;
        }
      }
    }
  }
}
