
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.7rem;
}.component-10-CwB {
  width: 100%;
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 110.9rem 2rem 2rem 2rem;
  overflow: hidden;
  position: relative;

  .property-1frame-46-8Zw {
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 29.9rem;
    box-sizing: border-box;
    padding: 26.2rem 15.261rem 18.821rem 18.143rem;
    width: 100%;
    height: 71.5rem;

    .group-22-eHP {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .group-18-QGZ {
        margin: 0rem 82.539rem 8.579rem 0rem;
        width: calc(100% - 82.5391rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-17-Xry {
          height: 10.4097rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.205rem 19.235rem 0rem 0rem;
          width: 11.8092rem;
        }
        .ellipse-11-Fny {
          height: 2.7127rem;
          background-color: #3c3a43;
          border-radius: 1.3563rem;
          flex-shrink: 0;
          width: 2.7127rem;
        }
      }
      .group-22-BRj {
        background-image: url('REPLACE_IMAGE:75:2598');
        flex-shrink: 0;
        margin-left: 108.8492rem;
        box-sizing: border-box;
        padding: 1.261rem 1.917rem 1.324rem 1.83rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .ellipse-12-usX {
          width: 3.7001rem;
          height: 3.7001rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .property-1frame-47-SMf {
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 32.8rem;
    box-sizing: border-box;
    padding: 27.175rem 15.508rem 18.485rem 18.373rem;
    width: 100%;
    height: 71.5rem;

    .group-22-MDj {
      width: 100%;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .group-18-Ht5 {
        margin: 0rem 82.292rem 8.176rem 0rem;
        width: calc(100% - 82.2918rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-17-nZw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 18.8166rem;
          width: 11.9975rem;
          height: 10.7057rem;
          position: relative;
        }
        .ellipse-11-76R {
          width: 2.7127rem;
          height: 2.7127rem;
          background-color: #3c3a43;
          border-radius: 1.3563rem;
          flex-shrink: 0;
          margin-top: 1.0251rem;
        }
      }
      .group-22-pWd {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:75:2609');
        flex-shrink: 0;
        margin-left: 108.8659rem;
        box-sizing: border-box;
        padding: 1.694rem 1.763rem 1.742rem 1.667rem;

        .ellipse-12-wr9 {
          width: 3.5224rem;
          height: 3.5224rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .property-1frame-48-gHw {
    height: 71.5rem;
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 26.2rem 15.121rem 19.193rem 17.736rem;
    width: 100%;

    .group-22-bvh {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: flex-end;
      display: flex;

      .group-18-Yqw {
        width: calc(100% - 82.6792rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 82.679rem 9.116rem 0rem;

        .group-17-4pH {
          flex-shrink: 0;
          margin: 1.535rem 19.117rem 0rem 0rem;
          width: 12.3342rem;
          height: 9.9148rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-11-zC9 {
          border-radius: 1.3563rem;
          flex-shrink: 0;
          width: 2.7127rem;
          height: 2.7127rem;
          background-color: #3c3a43;
        }
      }
      .group-22-XC5 {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:75:2620');
        flex-shrink: 0;
        margin-left: 109.1154rem;
        box-sizing: border-box;
        padding: 0.688rem 1.857rem 0.763rem 1.78rem;
        background-size: cover;

        .ellipse-12-eGh {
          width: 4.0897rem;
          height: 4.0897rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
