
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.final-screen-mYV {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .banner-screen-variant8-wLV {
    box-sizing: border-box;
    padding-bottom: 4rem;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    background: linear-gradient(121.93deg, #00656e 100%, #ccbdf3 208.92%);
    margin-bottom: 9.5rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-shrink: 0;

    .navigational-tab-9ay {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
      flex-shrink: 0;
      margin-bottom: 2.3813rem;
      padding: 2.7rem 9.701rem 2.7rem 9.6rem;
      width: 100%;
      height: 12.4187rem;
      overflow: hidden;
      position: relative;

      .group-ph7 {
        margin-right: 51.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-MS9 {
          width: 5.7933rem;
          height: 7.0187rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-iezp-UFs {
          padding: 1.76rem 0rem 0.631rem 0.139rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-gtau-BRB {
            margin-right: 0.1309rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-xoym-VaH {
              margin-bottom: 0.4648rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .vector-RD3 {
                margin: 0rem 0.605rem 0.057rem 0rem;
                width: 1.6979rem;
                height: 2.1501rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-8t9 {
                width: 2.3892rem;
                height: 2.2692rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.66rem 0rem 0rem;
              }
              .vector-s53 {
                margin: 0rem 0.606rem 0.058rem 0rem;
                width: 0.1985rem;
                height: 3.3043rem;
                background-color: #002a41;
                flex-shrink: 0;
              }
              .vector-ZyT {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.3892rem;
                height: 2.2701rem;
              }
            }
            .think-simple-build-powerful-Wth {
              line-height: 1.2125;
              color: #002a41;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 0.6529rem;
              font-weight: 400;
            }
          }
          .vector-yXP {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.561rem 0.062rem 0rem;
            width: 1.2809rem;
            height: 2.1457rem;
            object-fit: contain;
          }
          .vector-hCV {
            height: 3.3051rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.605rem 1.322rem 0rem;
            width: 1.6719rem;
          }
          .vector-RPP {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.605rem 0.173rem 0rem;
            width: 2.3894rem;
            height: 2.2701rem;
            object-fit: contain;
          }
          .vector-YD7 {
            margin-bottom: 0.1727rem;
            width: 2.3895rem;
            height: 2.2701rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .frame-34-foX {
        align-items: center;
        flex-shrink: 0;
        margin: 2.6093rem 0;
        height: calc(100% - 5.2187rem);
        display: flex;
        column-gap: 2.4rem;

        .frame-31-avV {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0rem;
          height: calc(100% - 0rem);
          display: flex;

          .business-applications-LPs {
            text-transform: uppercase;
            color: #d9d9d9;
            font-family: Poppins, 'Source Sans Pro';
            line-height: 1.5;
            font-size: 1.2rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4rem;
          }
          .vector-SSu {
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-32-YVw {
          flex-shrink: 0;
          margin-bottom: 0rem;
          height: calc(100% - 0rem);
          display: flex;
          align-items: center;

          .services-Vg5 {
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            color: #d9d9d9;
            font-family: Poppins, 'Source Sans Pro';
          }
          .vector-dGV {
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 0.8333rem;
          }
        }
        .frame-33-m7o {
          height: calc(100% - 0rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0rem;

          .resources-vFb {
            margin-right: 0.4rem;
            line-height: 1.5;
            text-transform: uppercase;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            color: #d9d9d9;
            white-space: nowrap;
          }
          .vector-2pR {
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .frame-34-A9w {
          flex-shrink: 0;
          margin-bottom: 0rem;
          height: calc(100% - 0rem);
          display: flex;
          align-items: center;

          .about-us-JG9 {
            line-height: 1.5;
            color: #d9d9d9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.4rem;
            font-weight: 400;
            flex-shrink: 0;
            font-size: 1.2rem;
            text-transform: uppercase;
          }
          .vector-R5s {
            width: 0.8333rem;
            height: 0.6239rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .vector-m9j {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-ki65-rws {
      margin-right: 15.0645rem;
      width: calc(100% - 15.0645rem);
      height: 83.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ccx9-o6R {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 152.9616rem;

        .elipsehero-wTX {
          width: 58.1522rem;
          height: 58.1522rem;
          position: absolute;
          left: 0;
          top: 9.7506rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-3-UCZ {
          background: linear-gradient(180deg, #2e5aa4 0%, #deb3ff 100%);
          border-radius: 2rem;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 27.8rem;
          top: 38.8rem;
        }
        .rectangle-1-kA5 {
          position: absolute;
          left: 54.7rem;
          top: 12.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 34.6897rem;
          height: 46.9rem;
        }
        .group-21-sVb {
          position: absolute;
          left: 11.9rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 117.0355rem;
          height: 83.6rem;

          .ellipse-3-BmB {
            background: linear-gradient(180deg, #ab63a2 -0%, #9a6ba8 100%);
            border-radius: 1.35rem;
            flex-shrink: 0;
            margin: 0rem 35.636rem 9.5rem 78.7rem;
            width: calc(100% - 114.3355rem);
            height: 2.7rem;
          }
          .ellipse-2-rcR {
            border-radius: 1.35rem;
            flex-shrink: 0;
            margin: 0rem 114.336rem 4.45rem 0rem;
            width: 2.7rem;
            height: 2.7rem;
            background-color: #00af89;
          }
          .rectangle-2-yBF {
            margin: 0rem 0rem 31.042rem 114.1rem;
            width: 2.9355rem;
            height: 2.9355rem;
            background: linear-gradient(60.91deg, #244080 29.86%, #2e5aa4 70.14%);
            flex-shrink: 0;
          }
          .rectangle-3-s1j {
            margin: 0rem 64.3rem 0.053rem 0rem;
            width: 2.081rem;
            height: 2.081rem;
            background: linear-gradient(180deg, #6e98b4 0%, #685bc7 100%);
            flex-shrink: 0;
          }
          .rectangle-16-aRw {
            flex-shrink: 0;
            margin: 0rem 0rem 23.88rem 71.645rem;
            width: 2.5591rem;
            height: 2.5591rem;
            background: linear-gradient(137.47deg, #ab63a2 20.26%, #1b4bcd 79.74%);
          }
          .ellipse-1-svq {
            width: 79.7rem;
            height: 1.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 3.2645rem;
          }
        }
        .frame-35-233 {
          height: 14.7rem;
          position: absolute;
          left: 24.8rem;
          top: 24.1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 94.4rem;

          .mobile-app-development-Mb7 {
            line-height: 1.2175;
            color: #e8e8e8;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            font-size: 6.4rem;
            font-weight: 400;
          }
          .transform-your-ideas-into-innovative-apps-5X7 {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.7813rem;
            font-weight: 400;
            line-height: 1.5;
            color: #e8e8e8;
          }
        }
      }
      .m-bile-app-development-ngR {
        font-size: 6.375rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 24.3rem 10.6rem 0rem;
      }
    }
  }
  .frame-17-sC5 {
    margin: 0rem 7.7rem 4rem 9.6rem;
    width: calc(100% - 17.3rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .frame-5-mAy {
      margin-bottom: 10.1rem;
      width: 100%;
      height: 23.6rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .what-we-do-sjo {
        font-weight: 500;
        line-height: 1.2175;
        color: #26242b;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.9rem;
        font-size: 6.4rem;
      }
      .frame-4-aPK {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mobile-apps-have-become-the-norm-for-businesses-to-thrive-modern-consumers-demand-platforms-that-offer-immersive-engagement-ubiquitous-collaboration-and-delightful-experiences-businesses-across-the-globe-are-looking-to-break-the-shackles-of-on-premises-systems-and-extend-their-reach-to-the-last-mile-where-consumers-are-mobile-users-vCH {
          letter-spacing: 0.064rem;
          font-family: Poppins, 'Source Sans Pro';
          color: #3c3942;
          flex-shrink: 0;
          margin-bottom: 3.1rem;
          max-width: 62.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6599999619;
        }
        .if-you-too-are-looking-to-transform-your-business-by-redefining-how-your-customers-perceive-you-your-employees-engage-with-you-and-how-your-partners-collaborate-with-you-here-are-a-few-use-cases-right-off-the-bat--Dqb {
          color: #3c3a43;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 58rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .frame-8-4LR {
      width: calc(100% - 33.6rem);
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 17.75rem 0rem 15.85rem;

      .frame-2-nGR {
        height: calc(100% - 1.6rem);
        column-gap: 2.4rem;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.8rem 2.4rem 0.8rem 0rem;
        width: 86.7rem;
        overflow: hidden;

        .onboarding-eJd {
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .events-BJZ {
          color: #737373;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .collaboration-ipH {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #737373;
        }
        .communication-fUd {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #737373;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .customer-service-c8y {
          color: #737373;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .scheduling-kFB {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #737373;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .field-service-hAR {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #737373;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .asset-management-Ew3 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .sales-quote-nhf {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .sales-quote-wKf {
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .frame-7-UqP {
        vertical-align: top;
        border-radius: 10rem;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
      }
    }
  }
  .use-cases-osf {
    height: 61.3rem;
    background-color: rgba(217, 217, 217, 0.3400000036);
    flex-shrink: 0;
    margin-bottom: 17.9rem;
    box-sizing: border-box;
    padding: 4rem 7rem 3.9rem 6.4rem;
    width: 100%;

    .frame-6-izd {
      width: 100%;
      height: 100%;
      position: relative;

      .component-2-Uyo {
        box-sizing: border-box;
        height: 53.4rem;
        cursor: pointer;
        top: 0;
        background-size: 100% 100%;
        background-position: center;
        padding: 42.1rem 2.5rem 5.7rem 2.4rem;
        width: 40rem;
        position: absolute;
        left: 3.2rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:eee3f767d99b59946932e6f99c59e46515a062df');

        .frame-27-zBT {
          width: 100%;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          white-space: nowrap;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.6000000238);
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border-radius: 0.7rem;
        }
      }
      .component-13-qC5 {
        box-sizing: border-box;
        height: 53.4rem;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:5d70a27a9e60cd389dd08e80147814dbdc2e1c82');
        padding: 42.5rem 2.5rem 5.3rem 2.4rem;
        width: 40rem;
        cursor: pointer;
        position: absolute;
        left: 45.6rem;
        top: 0;
        background-repeat: no-repeat;

        .frame-27-kK3 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          height: 100%;
          justify-content: center;
          display: flex;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.6000000238);
          border-radius: 0.7rem;
        }
      }
      .component-14-cs3 {
        box-sizing: border-box;
        cursor: pointer;
        left: 88rem;
        position: absolute;
        top: 0;
        background-size: 228.889% 100%;
        background-position: -12.7778rem 0;
        background-image: url('REPLACE_IMAGE:ae24670e07ac3ac58f5fee6693ac3d0c4238d2fd');
        padding: 42.1rem 2.5rem 5.7rem 2.4rem;
        width: 40rem;
        height: 53.4rem;

        .frame-29-LHF {
          height: 100%;
          font-size: 2.4rem;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.6000000238);
          border-radius: 0.7rem;
          width: 100%;
          font-weight: 400;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
        .component-14-cs3-bg {
          width: 40rem;
          height: 53.4rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:ae24670e07ac3ac58f5fee6693ac3d0c4238d2fd');
        }
      }
      .frame-10-kbs {
        height: 5rem;
        position: absolute;
        left: 0;
        top: 24.2rem;
        display: flex;
        align-items: center;
        width: 130.6rem;

        .frame-9-5u3 {
          margin-right: 120.6rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .frame-7-RCD {
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }
  .frame-16-L4H {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 16.15rem 30.9rem 16.4rem;
    width: calc(100% - 32.55rem);

    .why-go-mobile-f6Z {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.25rem 17rem 0rem;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #26242b;
    }
    .frame-15-mvH {
      width: 100%;
      height: 23.8rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .frame-11-Wcy {
        margin-right: 12.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-8-rgq {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          width: 14.4rem;
          height: 14.4rem;
          object-fit: cover;
        }
        .cultivate-customer-loyalty-Uy7 {
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 20rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .frame-12-CeD {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 12.45rem;
        height: 100%;
        align-items: center;

        .rectangle-9-xNV {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          width: 14.4rem;
          height: 14.4rem;
          object-fit: cover;
        }
        .foster-employee-empowerment-HvZ {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 16.4rem;
          text-align: center;
        }
      }
      .frame-13-pQh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 10.4rem;
        height: 100%;
        align-items: center;

        .rectangle-10-NSD {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          width: 14.4rem;
          height: 14.4rem;
          object-fit: cover;
        }
        .nimble-leadership-management-K6Z {
          flex-shrink: 0;
          max-width: 19.5rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .frame-14-EzD {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-11-oGd {
          height: 14.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          width: 14.4rem;
        }
        .nurture-partnerships-vs3 {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #26242b;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-yx4u-4CZ {
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:d404c6990cb4e4829ac2c4ff2940ca8cb1a369a6');
    height: 30.6rem;
    font-size: 6.4rem;
    background-size: 100% 100%;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    background-position: center;
    text-align: center;
    line-height: 1.2175;
    color: #e7e8ee;
  }
  .component-6-iY1 {
    margin-bottom: 17.4rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-size: cover;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:I67:952;59:162');
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 13rem 0rem 0rem 10.1rem;
    cursor: pointer;
    position: relative;
    background-position: center;

    .frame-30-RBX {
      margin-bottom: 7.4rem;
      width: 678.5rem;
      height: 76.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-18-kDo {
        align-items: center;
        flex-shrink: 0;
        margin-right: 16.4rem;
        height: 100%;
        display: flex;

        .rectangle-13-6oT {
          position: relative;
          background-size: 179.969% 100%;
          background-position: -45.4302rem 0rem;
          background-image: url('REPLACE_IMAGE:ca10c60f567f6a5e69be38fff51d6b6bacb4b3ff');
          flex-shrink: 0;
          width: 63.6rem;
          height: 76.4rem;
        }
        .auto-group-7vgh-ngH {
          box-sizing: border-box;
          padding: 31.75rem 0rem 31.75rem 10.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ellipse-7-X85 {
            margin: 0rem 2.2rem 9.3rem 0rem;
            width: 2.1rem;
            height: 2.1rem;
            background-color: #00af89;
            border-radius: 1.05rem;
            flex-shrink: 0;
          }
          .frame-3-EHP {
            flex-shrink: 0;
            width: 46.4rem;
            height: 100%;

            .too-arduous-to-visualize-z1f {
              margin-bottom: 2.1rem;
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 100%;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .we-translate-your-vision-into-a-product-concept-J2M {
              max-width: 46.4rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
      }
      .frame-18-oE1 {
        margin-right: 17.4rem;
        box-sizing: border-box;
        padding: 31.75rem 0rem 35.35rem 74.2rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:f652de02e91c9a04c505c5f02a09a2f05a964ec6');
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: 100% 100%;
        background-position: center;

        .ellipse-7-ibs {
          margin: 0rem 2.2rem 5.7rem 0rem;
          width: 2.1rem;
          height: 2.1rem;
          background-color: #00af89;
          border-radius: 1.05rem;
          flex-shrink: 0;
        }
        .frame-3-oNR {
          width: 45.4rem;
          height: 100%;
          flex-shrink: 0;

          .puzzling-tech-choices-kHf {
            margin-bottom: 2.1rem;
            text-align: center;
            font-size: 2.4rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            width: 100%;
            font-weight: 500;
            color: #26242b;
            white-space: nowrap;
          }
          .we-take-the-suspense-out-of-it-for-you-TC5 {
            font-weight: 400;
            line-height: 1.5;
            color: #26242b;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.4rem;
          }
        }
      }
      .frame-19-v5f {
        flex-shrink: 0;
        margin-right: 14.6rem;
        padding: 31.75rem 0rem 35.35rem 74.2rem;
        background-size: 180.233% 100%;
        background-image: url('REPLACE_IMAGE:a2e38f911f44e2f2660f9d1a75d7677119793d18');
        background-position: -13.514rem 0rem;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;

        .ellipse-7-pwj {
          flex-shrink: 0;
          margin: 0rem 2.2rem 5.7rem 0rem;
          width: 2.1rem;
          height: 2.1rem;
          background-color: #00af89;
          border-radius: 1.05rem;
        }
        .frame-3-L9P {
          width: 48.2rem;
          height: 100%;
          flex-shrink: 0;

          .demands-excessive-oversight-VHB {
            margin-bottom: 2.1rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.5;
            color: #26242b;
            font-family: Poppins, 'Source Sans Pro';
            width: 100%;
            font-size: 2.4rem;
            white-space: nowrap;
          }
          .not-really-we-own-end-to-end-execution-CxH {
            font-weight: 400;
            line-height: 1.5;
            color: #26242b;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.4rem;
          }
        }
        .frame-19-v5f-bg {
          position: relative;
          background-image: url('REPLACE_IMAGE:a2e38f911f44e2f2660f9d1a75d7677119793d18');
          width: 63.6rem;
          height: 76.4rem;
        }
      }
      .auto-group-xve5-r1F {
        width: 254.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-20-nvV {
          box-sizing: border-box;
          width: 141.6rem;
          height: 76.4rem;
          position: absolute;
          background-position: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:441624373668496deff31bc44d9eee7fc1cfccb0');
          padding: 31.75rem 0rem 35.35rem 74.2rem;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;

          .ellipse-7-Vpu {
            height: 2.1rem;
            background-color: #00af89;
            border-radius: 1.05rem;
            flex-shrink: 0;
            margin: 0rem 2.2rem 5.7rem 0rem;
            width: 2.1rem;
          }
          .frame-3-1YM {
            width: 63.1rem;
            height: 100%;
            flex-shrink: 0;

            .sounds-too-expensive-Ag9 {
              margin-bottom: 2.1rem;
              text-align: center;
              white-space: nowrap;
              font-family: Poppins, 'Source Sans Pro';
              width: 100%;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #26242b;
            }
            .not-with-our-experience-amp-pre-baked-approach-641 {
              font-weight: 400;
              line-height: 1.5;
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2.4rem;
            }
          }
        }
        .frame-21-N1X {
          padding: 31.75rem 0rem 35.35rem 74.2rem;
          width: 113.3rem;
          height: 76.4rem;
          left: 141.3rem;
          top: 0;
          align-items: center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
          position: absolute;
          display: flex;
          background-image: url('REPLACE_IMAGE:dbcb4582aab5914f412985e976f6099bec9f69a6');

          .ellipse-7-SXB {
            height: 2.1rem;
            background-color: #00af89;
            border-radius: 1.05rem;
            flex-shrink: 0;
            margin: 0rem 2.2rem 5.7rem 0rem;
            width: 2.1rem;
          }
          .frame-3-ZLu {
            width: 34.8rem;
            height: 100%;
            flex-shrink: 0;

            .lack-of-resources-iUh {
              font-family: Poppins, 'Source Sans Pro';
              margin-bottom: 2.1rem;
              width: 100%;
              font-weight: 500;
              color: #26242b;
              white-space: nowrap;
              text-align: center;
              font-size: 2.4rem;
              line-height: 1.5;
            }
            .we-act-as-your-team-in-spirit-eNM {
              font-weight: 400;
              line-height: 1.5;
              color: #26242b;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2.4rem;
            }
          }
        }
      }
    }
    .component-7-xP3 {
      cursor: pointer;
      color: #f2f2f2;
      align-items: center;
      background-color: #051222;
      flex-shrink: 0;
      width: calc(100% - 122.5rem);
      white-space: nowrap;
      margin: 0rem 64.3rem 0rem 58.2rem;
      border-radius: 10rem;
      height: 5.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      justify-content: center;

      .component-7-xP3-sub-0 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
        font-family: Poppins, 'Source Sans Pro';
      }
      .component-7-xP3-sub-1 {
      }
    }
  }
  .auto-group-fbv9-pi5 {
    position: relative;
    flex-shrink: 0;
    margin: 0rem 15.8rem 9.7rem 15.8rem;
    width: calc(100% - 31.6rem);
    height: 97.2rem;

    .our-highlights-XsP {
      width: 57.8rem;
      height: 7.8rem;
      position: absolute;
      left: 27.5rem;
      top: 89.4rem;
      font-weight: 500;
      white-space: nowrap;
      font-size: 6.4rem;
      line-height: 1.2175;
      color: #26242b;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .frame-21-2ZF {
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 112.4rem;
      height: 95.2866rem;

      .how-can-we-help-you-N7K {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 10rem;
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #26242b;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .frame-20-tLZ {
        flex-shrink: 0;
        margin-bottom: 9.5rem;
        width: 100%;
        height: 38rem;
        display: flex;
        align-items: flex-start;

        .transform-your-ideas-into-reality-by-building-world-class-mobile-solutions-by-leveraging-a-top-notch-mobile-app-development-company-d3F {
          font-weight: 400;
          line-height: 1.6600000381;
          letter-spacing: 0.08rem;
          font-family: Raleway, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 26.3rem;
          max-width: 56.2rem;
          font-size: 2rem;
          color: #26242b;
        }
        .frame-19-GM7 {
          width: 29.9rem;
          height: 100%;
          flex-shrink: 0;

          .texts-obw {
            font-weight: 400;
            white-space: nowrap;
            justify-content: center;
            margin-bottom: 2.4rem;
            cursor: pointer;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #737373;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            align-items: center;
            width: 26.8rem;
            height: 2.4rem;
          }
          .line-2-hSR {
            width: 100%;
            height: 0.1rem;
            background-color: #e0e0e0;
            margin-bottom: 4rem;
          }
          .texts-SQ1 {
            width: 26.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #737373;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 3.4rem;
            cursor: pointer;
            font-size: 1.6rem;
          }
          .line-3-xdF {
            margin-bottom: 3rem;
            width: 100%;
            height: 0.1rem;
            background-color: #e0e0e0;
          }
          .texts-i6d {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #737373;
            height: 2.4rem;
            cursor: pointer;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 3.1rem;
            width: 27.1rem;
          }
          .line-4-bgD {
            margin-bottom: 3.3rem;
            width: 100%;
            height: 0.1rem;
            background-color: #e0e0e0;
          }
          .texts-YLZ {
            white-space: nowrap;
            margin-bottom: 3.5rem;
            line-height: 1.5;
            color: #737373;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            width: 26.8rem;
            cursor: pointer;
            font-size: 1.6rem;
          }
          .line-5-FVs {
            margin-bottom: 2.9rem;
            width: 100%;
            height: 0.1rem;
            background-color: #e0e0e0;
          }
          .texts-Cg1 {
            white-space: nowrap;
            width: 26.8rem;
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #737373;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .group-20-XCV {
        flex-shrink: 0;
        width: 98.0328rem;
        height: 29.9866rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-q3ay-rVf {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:ab65f9908e2f66f0123853151a9c72fcec6a3d45');
    flex-shrink: 0;
    width: 100%;
    height: 30.6rem;
    position: relative;

    .pngtreesmall-rocket-sketched-by-lines5453564-1-oQu {
      height: 25.7rem;
      position: relative;
      left: 21.7rem;
      top: 3.8rem;
      background-size: 200.488% 159.922%;
      background-position: -8.6rem -6.6rem;
      background-image: url('REPLACE_IMAGE:5e572d2f0363cd532afe418a92088b155c725cdd');
      width: 20.5rem;
    }
    .component-4-2oT {
      cursor: pointer;
      position: absolute;
      left: 12.8rem;
      overflow: hidden;
      width: 118.3rem;
      padding: 5.5rem 10.3rem 0rem 10.5rem;
      height: 14.9rem;
      top: 7.8rem;
      box-sizing: border-box;

      .group-19-L3T {
        row-gap: 5.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 29rem;

        .hours-offreeassessment-ampproposal-GC1 {
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 0.16rem;
          color: #e0e8f3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4rem;
        }
        .pre-baked-technical-designs-NF3 {
          font-weight: 500;
          line-height: 1.5;
          color: #e0e8f3;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.2rem;
          font-size: 4rem;
        }
        .ux-designtemplates-Hcu {
          margin-right: 0.2rem;
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #d9d9d9;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-d5gm-npZ {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 42.8rem 9.6rem 29.5rem 9.6rem;
    width: 100%;

    .frame-45-Jnu {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 30.3rem;
      width: 100%;
      height: 76.4rem;
      display: flex;

      .frame-23-eLy {
        margin-right: 4.4rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .why-partner-with-nalaasha-nxy {
          margin-bottom: 12.7rem;
          max-width: 56.8rem;
          font-size: 6.4rem;
          font-weight: 500;
          line-height: 1.2175;
          color: #26242b;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .our-goal-is-to-create-something-youre-proud-of-and-that-helps-your-business-thats-why-nalashaa-promises-custom-mobile-application-development-solutions-that-takes-the-guessing-out-of-the-game-7EZ {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 52rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6599999666;
          letter-spacing: 0.064rem;
          color: #26242b;
        }
      }
      .component-9-8fT {
        box-sizing: border-box;
        padding: 51.9rem 5.3rem 0rem 5.3rem;
        width: 63.6rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
        height: 100%;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I75:2507;75:2393');

        .frame-44-rbT {
          box-sizing: border-box;
          padding-top: 8rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .frame-43-CfK {
            width: 71rem;
            height: 49.8rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-1f4m-M2R {
              padding: 0rem 2.8rem 10.8rem 2.8rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .frame-22-smT {
                width: calc(100% - 25.7rem);
                height: 9.4rem;
                background-color: rgba(255, 255, 255, 0.6800000072);
                border-radius: 1rem;
                flex-shrink: 0;
                margin: 0rem 12.85rem 10.8rem 12.85rem;
                box-sizing: border-box;
                padding: 1rem 4.15rem 0.9rem 4.15rem;

                .experts-in-building-mobile-apps-native-amp-hybrid-ZuB {
                  max-width: 31.4rem;
                  text-align: center;
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.8500000381;
                  color: #26242b;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .frame-22-G2u {
                text-align: center;
                line-height: 1.8500000381;
                background-color: rgba(255, 255, 255, 0.6800000072);
                width: 100%;
                height: 9.4rem;
                font-size: 2rem;
                color: #26242b;
                flex-shrink: 0;
                padding: 1rem 0;
                box-sizing: border-box;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                border-radius: 1rem;
              }
            }
            .frame-22-96h {
              background-color: rgba(255, 255, 255, 0.6800000072);
              border-radius: 1rem;
              box-sizing: border-box;
              padding: 1rem 0;
              width: 100%;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              line-height: 1.8500000381;
              text-align: center;
              font-size: 2rem;
              color: #26242b;
              white-space: nowrap;
              height: 9.4rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .frame-26-BZB {
      margin-right: 36.1rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .lets-begin-your-digital-transformation-8jK {
        margin-bottom: 2.5rem;
        font-size: 6.4rem;
        font-weight: 500;
        text-transform: uppercase;
        flex-shrink: 0;
        max-width: 88.7rem;
        line-height: 1.8500000238;
        color: #26242b;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .button-2Ju {
        height: 13.8rem;
        line-height: 1.8500000238;
        white-space: nowrap;
        cursor: pointer;
        justify-content: center;
        box-sizing: border-box;
        width: 19.7rem;
        text-align: right;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        border-radius: 6rem;
        flex-shrink: 0;
        font-size: 6.4rem;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
      }
    }
  }
}
