
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 267.8rem;
}.https-sagaratechnologymediumcom-a-use-case-for-proper-mobile-apps-development-1a9bd44c53d4-gjs {
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  width: 100%;
  height: 23.7rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.8500000238;
  text-transform: uppercase;
}
