
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 715.1rem;
}.low-fi-sWR {
  width: 100%;
  display: flex;
  flex-direction: column;

  .low-fidelity-wireframes-QmF {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 10.7rem;
  }
  .auto-group-7x7f-8BT {
    margin-bottom: 25.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .whatsapp-image-2023-08-31-at-1143-1-seq {
      margin-right: 34rem;
      width: 314.4rem;
      height: 415.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .whatsapp-image-2023-08-31-at-1144-1-BQd {
      width: 366.7rem;
      height: 415.8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .whatsapp-image-2023-08-31-at-1156-1-73P {
    margin-left: 348.4rem;
    width: 315.8588rem;
    height: 297.3rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
