
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mid-fi-vGh {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .navigational-tab-rg9 {
    box-sizing: border-box;
    padding: 2.7rem 9.5rem 2.7rem 9.6rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 10.1rem;
    position: relative;
    background-color: #f9f9f9;

    .logo-ykm {
      color: #303030;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 80.5rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.175;
    }
    .frame-1-7MB {
      display: flex;
      column-gap: 4.8rem;
      align-items: center;
      flex-shrink: 0;
      margin: 1.45rem 0;
      height: calc(100% - 2.9rem);

      .work-qny {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        color: #303030;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .services-yuB {
        color: #303030;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
      }
      .about-8XB {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        color: #303030;
        font-family: Poppins, 'Source Sans Pro';
      }
      .contact-5hK {
        line-height: 1.5;
        text-transform: uppercase;
        color: #303030;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-9vs9-DHj {
    box-sizing: border-box;
    padding: 3.7rem 11rem 9.9rem 9.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .ellipse-3-jWy {
      margin: 0rem 39.7rem 8.5rem 81rem;
      width: calc(100% - 120.7rem);
      height: 2.7rem;
      background-color: #d9d9d9;
      border-radius: 1.35rem;
      flex-shrink: 0;
    }
    .ellipse-2-SRP {
      width: 2.7rem;
      height: 2.7rem;
      background-color: #d9d9d9;
      border-radius: 1.35rem;
      flex-shrink: 0;
      margin-right: 116.1rem;
    }
    .auto-group-ajt9-miZ {
      margin: 0rem 0rem 22.1rem 23.563rem;
      height: 46.9rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .rectangle-3-JCh {
        margin: 0rem 7.392rem 6.392rem 0rem;
        width: 2.081rem;
        height: 2.081rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .auto-group-8t5f-pB3 {
        width: 50.6rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-1-Mgm {
          height: 46.9rem;
          position: absolute;
          left: 8rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 34.6897rem;
        }
        .transform-your-ideas-into-innovative-apps-gyw {
          width: 50.6rem;
          left: 0;
          top: 21.7rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          height: 3.6rem;
          position: absolute;
          font-size: 2.4rem;
          font-weight: 400;
          color: #303030;
          white-space: nowrap;
        }
      }
      .auto-group-2ped-BA1 {
        box-sizing: border-box;
        padding: 7.45rem 0rem 0.019rem 7.9rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-2-73f {
          flex-shrink: 0;
          margin: 0rem 0rem 34.415rem 20.8rem;
          width: 2.9356rem;
          height: 2.9355rem;
          background-color: #d9d9d9;
        }
        .rectangle-16-S5w {
          margin-right: 21.6546rem;
          width: 2.081rem;
          height: 2.081rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
      }
    }
    .ellipse-1-m8D {
      margin: 0rem 0rem 13.5rem 1.5rem;
      width: 79.7rem;
      height: 1.7rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-gikb-5Po {
      margin-bottom: 3.1rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .about-Dku {
        flex-shrink: 0;
        margin-right: 37.5rem;
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mobile-apps-have-become-the-norm-for-businesses-to-thrive-modern-consumers-demand-platforms-that-offer-immersive-engagement-ubiquitous-collaboration-and-delightful-experiences-businesses-across-the-globe-are-looking-to-break-the-shackles-of-on-premises-systems-and-extend-their-reach-to-the-last-mile-where-consumers-are-mobile-users-kkq {
        letter-spacing: 0.064rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 62.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.6599999619;
      }
    }
    .if-you-too-are-looking-to-transform-your-business-by-redefining-how-your-customers-perceive-you-your-employees-engage-with-you-and-how-your-partners-collaborate-with-you-here-are-a-few-use-cases-right-off-the-bat--w4d {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-left: 57rem;
      max-width: 58rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .auto-group-s1jh-9wP {
    margin-bottom: 16.3rem;
    width: 100%;
    height: 79.8rem;
    position: relative;
    flex-shrink: 0;

    .use-cases-6rd {
      height: 79.8rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 144rem;
    }
    .frame-2-ET3 {
      column-gap: 2.4rem;
      align-items: center;
      width: 86.7rem;
      height: 2.4rem;
      position: absolute;
      top: 0.8rem;
      display: flex;
      left: 28.6rem;
      overflow: hidden;

      .onboarding-vKs {
        color: #1e1e1e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .events-fHT {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .collaboration-oeZ {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .communication-9TX {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
      }
      .customer-service-hV3 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
      }
      .scheduling-q5T {
        color: #737373;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .field-service-AdX {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #737373;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .asset-management-v6u {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
      .sales-quote-fKP {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .sales-quote-byj {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
    }
  }
  .why-9EZ {
    flex-shrink: 0;
    margin: 0rem 11.8rem 22.1rem 11.7rem;
    width: calc(100% - 23.5rem);
    align-items: center;
    display: flex;
    flex-direction: column;

    .why-go-mobile-UGq {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 10.3rem 4.8rem;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #000000;
    }
    .why-go-mobile-PPo {
      margin-bottom: 3.4rem;
      width: 100%;
      display: flex;
      column-gap: 11.9rem;
      align-items: center;
      flex-shrink: 0;

      .rectangle-8-ved {
        width: 21.2rem;
        height: 21.2rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-9-51j {
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 21.2rem;
        height: 21.2rem;
      }
      .rectangle-10-pV7 {
        width: 21.2rem;
        height: 21.2rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .rectangle-11-B4m {
        width: 21.2rem;
        height: 21.2rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .auto-group-wt5t-vo3 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.75rem 0rem 0.6rem;
      width: calc(100% - 1.35rem);

      .cultivate-customer-loyalty-rgh {
        max-width: 20rem;
        text-align: center;
        font-size: 2rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 14.9rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .foster-employee-empowerment-xjj {
        max-width: 16.4rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        margin-right: 15.15rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .nimble-leadership-management-sbo {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        text-align: center;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.5;
        flex-shrink: 0;
        margin-right: 12.7rem;
        max-width: 19.5rem;
      }
      .nurture-partnerships-bGu {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
      }
    }
  }
  .auto-group-rkqh-Jx1 {
    font-family: Montserrat, 'Source Sans Pro';
    align-items: center;
    font-weight: 500;
    line-height: 1.2175;
    text-align: center;
    color: #000000;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 30.6rem;
    font-size: 6.4rem;
    background-color: #d9d9d9;
  }
  .auto-group-sskh-zZw {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 16.3rem 13.8rem 9.7rem 9.6rem;
    width: 100%;

    .auto-group-oser-7Pf {
      margin-bottom: 26.9rem;
      width: 100%;
      height: 76.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-13-DSh {
        margin-right: 10.6rem;
        width: 63.6rem;
        height: 76.4rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
      .frame-3-kBj {
        margin: 31.7rem 0rem 31.8rem 0rem;
        width: 46.4rem;
        height: calc(100% - 63.5rem);
        flex-shrink: 0;

        .too-arduous-to-visualize-fJh {
          text-align: center;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 2.1rem;
          width: 100%;
          font-size: 2.4rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
        }
        .we-translate-your-vision-into-a-product-concept-y4V {
          font-family: Poppins, 'Source Sans Pro';
          max-width: 46.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
      }
    }
    .how-can-we-help-you-GJV {
      margin: 0rem 0rem 8.2rem 11.7rem;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-uweh-nGq {
      width: calc(100% - 20.9rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 20.9rem 7.1rem 0rem;

      .transform-your-ideas-into-reality-by-building-world-class-mobile-solutions-by-leveraging-a-top-notch-mobile-app-development-company-hub {
        font-weight: 400;
        font-family: Raleway, 'Source Sans Pro';
        flex-shrink: 0;
        letter-spacing: 0.08rem;
        color: #000000;
        margin-right: 18rem;
        max-width: 56.2rem;
        font-size: 2rem;
        line-height: 1.6600000381;
      }
      .auto-group-nswj-MUM {
        flex-shrink: 0;
        margin-top: 0.9rem;
        display: flex;
        flex-direction: column;

        .design-exquisite-user-experiences-VqT {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.175;
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 7.1rem;
        }
        .integrate-with-your-ecosystem-cv5 {
          font-weight: 400;
          line-height: 1.175;
          color: #000000;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .rapid-prototyping-and-development-8Nd {
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 7.5rem 54.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.175;
      color: #000000;
    }
    .deploy-publishand-go-live-e65 {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.175;
      color: #000000;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 7.5rem 48.6rem;
    }
    .complete-devops-setup-9Hj {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.175;
      color: #000000;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 34rem 46rem;
    }
    .our-highlights-TZK {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 4.6rem;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 1.2175;
      color: #000000;
    }
  }
  .auto-group-ma73-ynZ {
    box-sizing: border-box;
    padding: 13.9rem 22.9rem 13.8rem 9.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .hours-offreeassessment-ampproposal-6sB {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.175;
      color: #000000;
      font-family: Raleway, 'Source Sans Pro';
    }
    .pre-baked-technical-designs-p2V {
      line-height: 1.175;
      color: #000000;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 3.6rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .ux-designtemplates-94m {
      font-weight: 400;
      line-height: 1.175;
      color: #000000;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
    }
  }
  .auto-group-hojf-foo {
    padding: 42.8rem 9.6rem 33.9rem 9.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-mt69-16y {
      height: 76.4rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 30.3rem;
      width: 100%;

      .auto-group-jzus-9U5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 4.4rem;

        .why-partner-with-nalaasha-W3j {
          font-weight: 500;
          line-height: 1.2175;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 12.7rem;
          max-width: 56.8rem;
          font-size: 6.4rem;
        }
        .our-goal-is-to-create-something-youre-proud-of-and-that-helps-your-business-thats-why-nalashaa-promises-custom-mobile-application-development-solutions-that-takes-the-guessing-out-of-the-game-225 {
          font-weight: 400;
          line-height: 1.6599999666;
          letter-spacing: 0.064rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 52rem;
          font-size: 1.6rem;
        }
      }
      .auto-group-u7wp-eZF {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 57.4rem 16.1rem 11.5rem 16.1rem;
        height: 100%;
        background-color: #d9d9d9;

        .experts-in-building-mobile-apps-native-amp-hybrid-nQZ {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8500000381;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 31.4rem;
        }
      }
    }
    .auto-group-bead-HMK {
      width: 88.7rem;
      height: 35.6rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 36.1rem;

      .lets-begin-your-digital-transformation-now-Dkm {
        font-family: Montserrat, 'Source Sans Pro';
        height: 35.6rem;
        top: 0;
        font-size: 6.4rem;
        line-height: 1.8500000238;
        text-transform: uppercase;
        color: #000000;
        width: 88.7rem;
        position: absolute;
        left: 0;
        font-weight: 500;
      }
      .rectangle-17-Wjs {
        top: 24.3rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 18.8rem;
        height: 10.3rem;
        position: absolute;
        left: 0;
      }
    }
  }
}
