
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.navigational-tab-tmP {
  padding: 2.7rem 9.701rem 2.7rem 9.6rem;
  position: relative;
  background-color: rgba(249, 249, 249, 0.7900000215);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;

  .group-Yqw {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 51.7rem;
    height: 7.0187rem;

    .group-Ujb {
      flex-shrink: 0;
      width: 5.7932rem;
      height: 7.0187rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-wuts-DBP {
      box-sizing: border-box;
      padding: 1.76rem 0rem 0.631rem 0.139rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ex9k-XSy {
        margin-right: 0.1308rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dejd-4ho {
          margin-bottom: 0.4648rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .vector-ofP {
            height: 2.1501rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.605rem 0.057rem 0rem;
            width: 1.698rem;
          }
          .vector-KNq {
            flex-shrink: 0;
            margin: 0rem 0.66rem 0rem 0rem;
            width: 2.3892rem;
            height: 2.2692rem;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-qMB {
            background-color: #002a41;
            flex-shrink: 0;
            margin: 0rem 0.606rem 0.058rem 0rem;
            width: 0.1985rem;
            height: 3.3043rem;
          }
          .vector-9cm {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2.3892rem;
            height: 2.2701rem;
          }
        }
        .think-simple-build-powerful-hPP {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 0.6529rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #002a41;
        }
      }
      .vector-zdP {
        width: 1.2809rem;
        height: 2.1457rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.561rem 0.062rem 0rem;
      }
      .vector-7i1 {
        flex-shrink: 0;
        margin: 0rem 0.605rem 1.322rem 0rem;
        width: 1.6719rem;
        height: 3.3051rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-2py {
        flex-shrink: 0;
        margin: 0rem 0.605rem 0.173rem 0rem;
        width: 2.3894rem;
        height: 2.2701rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-ZK7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1727rem;
        width: 2.3894rem;
        height: 2.2701rem;
        object-fit: contain;
      }
    }
  }
  .frame-34-tcH {
    height: 1.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .frame-31-ERF {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 0rem;
      height: calc(100% - 0rem);

      .business-applications-xs3 {
        flex-shrink: 0;
        margin-right: 0.4rem;
        font-weight: 400;
        color: #00656e;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase;
        white-space: nowrap;
      }
      .vector-U4h {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 0.8333rem;
        height: 0.6239rem;
        object-fit: contain;
      }
    }
    .frame-32-1KX {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 0rem;
      height: calc(100% - 0rem);
      display: flex;

      .services-YqF {
        font-weight: 400;
        flex-shrink: 0;
        margin-right: 0.4rem;
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase;
        color: #00656e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vector-5KP {
        height: 0.6239rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 0.8333rem;
      }
    }
    .frame-33-1yj {
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 0rem;
      height: calc(100% - 0rem);
      display: flex;
      align-items: center;

      .resources-A5w {
        text-transform: uppercase;
        color: #00656e;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.4rem;
      }
      .vector-gKB {
        margin-bottom: 0rem;
        width: 0.8333rem;
        height: 0.6239rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-34-Da1 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 0rem;
      height: calc(100% - 0rem);

      .about-us-9iZ {
        margin-right: 0.4rem;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        text-transform: uppercase;
        color: #00656e;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .vector-5cD {
        flex-shrink: 0;
        margin-bottom: 0rem;
        width: 0.8333rem;
        height: 0.6239rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .vector-oo7 {
      vertical-align: top;
      flex-shrink: 0;
      width: 1.8rem;
      height: 1.8rem;
      object-fit: contain;
    }
  }
}
